/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background-image: url(../images/forheader.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header .navdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}
header .navdiv ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 600px;
  width: 100%;
}
header .navdiv ul a {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-right: 45px;
}
header .navdiv ul a:hover {
  color: #DD2242;
}
header .iconsdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}
header .iconsdiv .fa-bars {
  display: none;
}

.sec-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 670px;
  background-image: url("../images/forsec-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.sec-1 .maindiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: 60%;
  margin-left: 8%;
  margin-top: 4%;
}
.sec-1 .maindiv h1 {
  font-style: "Roboto" sans-serif;
  font-size: 120px;
  font-weight: 900;
  color: white;
}
.sec-1 .maindiv input {
  max-width: 270px;
  width: 100%;
  height: 50px;
  border-radius: 211px;
  background: var(--main-red, #DD2242);
  color: white;
}
.sec-1 .videodiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 42%;
  width: 910px;
  height: 200px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sec-1 .videodiv .vidinfodiv {
  border: 1px solid #000;
  opacity: 0.6000000238;
  background: #000;
  width: 200px;
  height: 150px;
}
.sec-1 .videodiv .vidinfodiv h1 {
  color: white;
  font-size: 24px;
  font-family: "Roboto" sans-serif;
  margin-top: 5%;
  margin-left: 15%;
}
.sec-1 .videodiv .vidinfodiv h2 {
  margin-top: 25%;
  margin-left: 25%;
  color: #DD2242;
  font-family: Roboto;
  font-size: 16px;
}
.sec-1 .videodiv .viddiv {
  width: 300px;
  height: 200px;
}
.sec-1 .videodiv .viddiv video {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=global.css.map */