header{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    width: 100%;
    height: 80px;
    padding-top: 48px;
    
    .iconsdiv{
        display: flex;
        justify-content: space-between;
        width: 100px;
        .fa-bars{
            display: none;
        }
    }
    .navdiv{
        display: flex;
        max-width: 500px;
        width: 100%;
        height: 30px;
        border: none;
        background: none;
        li{
            display: inline-flex;
            a{
                color: white;
                font-family: 'DM Sans', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                margin-right: 45px;
            }
            a:hover{
                color: rgb(153, 88, 88);
            }
        }
        
    }
}