.sec-1{
    width: 100%;
    height: 700px;
    background-image: url("../images/schoolphoto_deblurred.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}