.sec-1{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-image: url("../images/schoolphoto_deblurred.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .maindiv{
        display: flex;
        position: fixed;
        flex-direction: column;
        /*აქ ავირიე იმის გამო რომ ჰედერი და პირველი სექცია ერთად მაქვს და მერჯინებით მომიწია ჩაწერა*/
        max-width: 600px;
        margin-top: 200px;
        margin-right: 700px;
        width: 100%;
        h1{
            font-style: 'Roboto' sans-serif;
            font-size: 120px;
            font-weight: 900;
            color: white;
        }
        input {
            max-width: 270px;
            width: 100%;
            height: 50px;
            border-radius: 211px;
            background: var(--main-red, #DD2242);
        }
    }
}